@charset "UTF-8";

body {
	margin: 50px;
}


.all {
	font-family: "나눔스퀘어라운드";
}

.title {
	resize: horizontal;
	width: 1500px;
	font-size: xx-large;
	background-color: #a4a4a4;
	color: white;
	height: 80px;
}

.cf {
	width: 1500px;
	text-align: left;
	font-size: 10pt;
	color: red;
}

.table1 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 3px solid #a4a4a4;
	width: 1500px;
	margin: 20px 10px;
}

.table1 th {
	width: 20%;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #153d73;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #F2F2F2;
}

.table1 td {
	width: 80%;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 10pt;
}

a {
	text-decoration: none;
	font-size: 14pt;
	color: black;
}

a:hover {
	color: red;
	text-decoration: none;
}